<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/2eba2242-dcb9-426b-8d1a-bd88f228f4f3/resourceGroups/AzureChampionship/providers/Microsoft.Web/sites/AzureChampionship</ResourceId>
    <ResourceGroup>AzureChampionship</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>https://azurechampionship.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>azurechampionship.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>AzureChampionship</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$AzureChampionship</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>